<div id="user-edit-top">
  <% if @user.avatar.present? %>
    <%= image_tag(@user.avatar.url(:large), class: "avatar") %>
  <% else %>
    <%= image_tag("man.png", class: "avatar") %>
  <% end %>
</div>
<br /><br />
<br /><br />
<%= form_for @user, controller: 'users', action: 'update' do |f| %>
<h4><%= f.label :avatar, 'Change Pic' %></h4>
<%= f.file_field :avatar, class: 'file' %>
<h4>Biography</h4>
<%= f.text_area :bio %>
<center><%= f.button "Save" %></center>
<% end %>
