<div id="content">

<!--landing page, no header included-->
<%= image_tag("logo.png") %><br /><br />

<p class="slogan">Bonecoin takes over when money fails™</p>

<p class="copy">Tired of sullying your paws with filthy Real Human Currency?<br />
Bonecoin is clean, Real Digital Currency, backed by nothing! Just like real currency, but without the germs!<br /><br />

Uninterested in supporting cryptocurrencies made by Silicon Valley Bros and Internet Trolls?<br />
Bonecoin is made by friends, for friends!<br /><br />

It's easy to get started! Just click "" below!<br /><br />

DO IT.</p>
<br />

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
<table class="center login">
<tr>
<th class="form-title" colspan="2"><h5>Sign Up</h5></th>
</tr>
<tr>
<td class="form-labels"><%= f.label :username %></td><td align="right"><%= f.text_field :username %></td>
</tr>
<tr>
<td class="form-labels"><%= f.label :password %></td><td align="right"><%= f.password_field :password %></td>
</tr>
<tr>
<td class="form-labels"><%= f.label :password_confirmation %></td><td align="right"><%= f.password_field :password_confirmation %></td>
</tr>
<tr>
<td class="form-labels"></td><td align="right"><%= f.button "Sign Up" %> </td>
</tr>
<tr>
<td class="form-labels" colspan="2" align="right">or <%= link_to(controller: 'sessions', action: 'new') { 'Log In' } %></td>
</tr>
</table>
<% end %>
<br />
<% if flash[:error] %>
    <div class="notice">
      <%= image_tag("skull.png", class: "notice") %>
      <div><h4>Error</h4>Something went wrong. I can almost guarantee it was your fault.</div>
  </div>
<% end %>
<br />

</div>
</body>
