<!-- TO DO: Limit or paginate results? -->
<!--- Break this out to a partial -->
Activity:
<% if @transactions.length > 0 %>
  <% @transactions.each do |transaction| %>
      <div class="activity">
        <% if transaction.user.avatar.present? %>
          <%= link_to image_tag(transaction.user.avatar.url(:large), class: "lil-avatar"), transaction.user %>
        <% else %>
          <%= link_to image_tag("man.png", class: "lil-avatar"), transaction.user %>
        <% end %>
        <div class="full">
          <div class="activity-head"><%= link_to transaction.user.username, transaction.user %>&nbsp;►&nbsp;<%= link_to transaction.recipient.username, transaction.recipient %>&nbsp;&nbsp;<div class="coin-count"><%= image_tag("coin-icon.png") %>&nbsp;<%= transaction.amount %></div></div>
            "<%= sanitize transaction.note %>"<br />
            <div class="comment-count"><%= link_to transaction.comments.count.to_s, transaction %>&nbsp;<%= link_to image_tag("comment.png", class: "comment"), transaction %></div>
          </div>
        </div>
      <hr />
  <% end %>
<% else %>
  <h3>No transactions yet!</h3>
<% end %>
