<div class="friend send-friend" style="align-items:center;">
  <% if @recipient.avatar.present? %>
    <%= image_tag(@recipient.avatar.url(:large), class: "lil-avatar") %>
  <% else %>
    <%= image_tag("man.png", class: "lil-avatar") %>
  <% end %>
  <div class="full">
      To: <div class="friend-head"><%= @recipient.username %></div>
  </div>
</div>
<hr />

<%= form_for :transaction, url: transactions_path, method: :post do |f| %>
  <%= f.hidden_field(:recipient_id, value: @recipient.id) %>
  <%= f.hidden_field(:user_id, value: @user.id) %>
  <div class="send-amount">
  <%= image_tag("coin.png", class: "send-amount") %>&nbsp;&nbsp;&nbsp;<%= f.number_field :amount, min: 1, class: "coins" %><br>
</div>
  <br />
  <br />

  <h4>Message</h4>
  <%= f.text_area :note, class: "comment" %>
  <br /><br />

  <center><%= f.button "Send" %></center>

  <br /><br />
<% end %>
