<div class="transaction">
	<div class="transaction-head">

  <% if @transaction.user.avatar.present? %>
    <div><%= link_to image_tag(@transaction.user.avatar.url(:large), class: "med-avatar"), @transaction.user %><%= link_to @transaction.user.username, @transaction.user %></div>
  <% else %>
    <div> <%= link_to image_tag("man.png", class: "med-avatar"), @transaction.user %><%= link_to @transaction.user.username, @transaction.user %></div>
  <% end %>
      <div><br /><div class="coin-count"><%= image_tag("coin-icon.png") %>&nbsp;<%= @transaction.amount.to_s %></div>&nbsp;<div class="big-arrow">►</div>&nbsp;</div>

  <% if @transaction.recipient.avatar.present? %>
    <div><%= link_to image_tag(@transaction.recipient.avatar.url(:large), class: "med-avatar"), @transaction.recipient %><%= link_to @transaction.recipient.username, @transaction.recipient %></div>
  <% else %>
    <div> <%= link_to image_tag("man.png", class: "med-avatar"), @transaction.recipient %><%= link_to @transaction.recipient.username, @transaction.recipient %></div>
  <% end %>

  </div>
    <br />
  <div class="fuckthisprojectentirely">
    <%= image_tag("comment.png", class: "comment") %>&nbsp;<%= link_to @transaction.user.username, @transaction.user %>:&nbsp;"<%= sanitize @transaction.note %>"
  </div>
</div>

<br /><br />

<h4>Write a comment</h4>

<%= form_for :comment, url: comments_path, method: :post do |f| %>
  <%= f.hidden_field(:transaction_id, value: @transaction.id) %>
  <%= f.hidden_field(:user_id, value: @user.id) %>
  <%= f.text_field :content, class: "comment" %>
  <br /><br />

  <center><%= f.button "Send" %></center>
<% end %>

<% if flash[:comment_error] %>
    <div class="notice"><%= flash[:comment_error] %></div>
<% end %>
<br /><br />

<h4>Comments</h4><br />

<% @comments.each do |comment| %>

<div class="comment">
  <%= image_tag("comment.png", class: "comment talk") %>
  <% if comment.user.avatar.present? %>
    <%= link_to image_tag(comment.user.avatar.url(:large), class: "lil-avatar"), comment.user %>
  <% else %>
    <%= link_to image_tag("man.png", class: "lil-avatar"), comment.user %>
  <% end %>
  <div class="full">
      <div class="comment-head"><%= link_to comment.user.username, comment.user %></div>
        "<%= sanitize comment.content %>"
  </div>
</div>
<% end %>
