<!DOCTYPE html>
<html>
<head>
  <title>Bonecoin</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Oswald:300,400,500|Roboto:300', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "application/navbar" %>

<%= yield %>


</body>
</html>
